# ------------------
# Backend / Python
# ------------------
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# ------------------
# Database (CRITICAL)
# ------------------
# Do not commit your live game data or user passwords!
data/
*.db
*.sqlite3

# ------------------
# Frontend / Node
# ------------------
frontend/node_modules/
frontend/dist/
frontend/.env
npm-debug.log*
# ------------------
# OS / Misc
# ------------------
.DS_Store
Thumbs.db


frontend_old/
docs/
